<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puzzle 15</title>
</head>
<body>
  <center>
    <h1>Puzzle 15</h1>
    <p>You Won !</p>
    <p>And only with <%- game.totalSteps %> moves</p>
    <br/><br/>
    <p>To start a game press bellow:</p>
    <button onclick="location='/start'">Start New Game</button>
  </center>
</body>
</html>
